*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 10vh;
}
.blue-fon{
    width: 100;
    height: 33vh;
    background-color: blue;
}
.white-fon{
    width: x;
}